* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: black;
  
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>START nav bar designing*/
nav {
  padding: 20px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.logo {
  align-self: center;
  font-family: "Passion One", "sans-serif";
  font-size: 2.8rem;
  color: white;
  margin: 0;
  z-index: 3;
}
span {
  color: rgb(255, 0, 0);
  letter-spacing: 3px;
  font-weight: 600;
}
.nav-menu {
  /*nav menu hidden for mobile*/
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  top: -1000%;
  left: 0;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px 0;
  width: 100%;
  height: auto;
  background-color: rgb(43, 43, 43);
  z-index: 2;
  transition: all 0.55s ease-in-out;
}
.nav-menu.active {
  top: 70px;
}
.nav-item {
  margin: 30px 0;
  text-transform: uppercase;
}
.nav-menu a {
  color: #fff;
  font-weight: 550;
  font-size: 1.2rem;
}
.nav-menu a:hover {
  color: rgb(255, 0, 0);
}
.hamburger {
  /*hamburger menu*/
  cursor: pointer;
  z-index: 3;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Image */
.car-images {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  
}

/* Cards */


.card {
  margin: 25px;
  padding: 25px;
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 6px;
  text-align: center;
  color: rgba(115, 250, 88, 0);
  cursor: pointer;
  font-family: cursive;
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


.h2-tag-color {
  margin-top: 1%;
  color: white;
  font-size: 35px;
}

.mini-detail {
  color: white;
  font-size: 25px;
}


.p-tag-color {
  color: white;
  margin-top: 30px;
  padding-left: 9px;
  padding-right: 9px;
}


/* contact info code */
.contact-title {
  margin-top: 12%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 45px;
}

.contact-p-tag {
  margin-top: 30px;
  margin-bottom: -9%;
  color: white;
  font-size: 25px;
}


/* Contact Card */
.card-contact-info {
  margin: 30px;
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  font-family: cursive;
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.2);
}


/* Social Media Code */
.container-social-media {
  margin-top: 65px;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  background-color: black;
  border-style: solid;
  border-top-color: #ff0000;
  border-bottom-color: #ff0000;
}

.media-links{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 90px;
}


/* Font Awesome Code */
.fa-solid{
  color: white;
  padding: 5px;
}

.fa-brands {
  font-size: 35px;
  color: rgb(255, 0, 0);
}

.fa-brands:hover{
  color: white;
}


footer {
  color: white;
  font-size: 12px;
 display: flex;
 justify-content: center;
}


